@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-family: "Nunito", sans-serif;
}

main {
    margin: auto;
    text-align: center;
    background-color: #22b4b9;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

li {
    margin-right: 1%;
}

h1 {
    color: #f3f2f2;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
}

#history, #main_pokemon, #favorites {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pokemon_item {
    margin: 10px;
    width: 100px;
    cursor: pointer;
}

.pokemon_item img {
    width: 80%;
    height: auto;
    /* allows to adapt to browser width */
    overflow: hidden;
}
